.tbbg1 { background: #dff0f8 }
.tbbg2 { background: #ccff99 }
.tbbg3 { background: #ffffcc }
.pushdwn { margin-top: 50px }
.cmtbg1 { background: yellow; padding: 7px 0 }
.cmtbg2 { background: lime; padding: 7px 0 }
.pushright { float: right }
.bdcsize { height: 550px }
.patxt { font-size: 13px }
.ellipsis { white-space: nowrap;
    overflow: hidden; text-overflow: ellipsis }

.table td {
    max-width: 177px;
}
.table td a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
